* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

/* Nav Bar style */

.NavBar {
  background-color: #0075be;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

/* Nav bar logos */

.main-logo {
  background-color: white;
  background-color: #0075be;
  height: 100px;
  width: 300px;
  object-fit: contain;
}

.side-logo {
  align-self: center;
}

.mini-logo {
  width: 30px;
  margin-left: 20px;
  align-self: center;
}

/* Nav buttons */

.button-container {
  align-self: center;
  margin-right: 20px;
  display: flex;
  gap: 20px;
}

.nav-btn {
  background-color: hsl(48, 100%, 50%);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  transition: 0.4s background-color ease;
}

.nav-btn:hover {
  color: hsl(48, 100%, 50%);
  background-color: black;
  cursor: pointer;
}

/* Pokemon grid */

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

/* Pokemon card */
