* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  background-color: #f9fbff;
}

/* Nav Bar style */

.NavBar {
  background-color: #0075be;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

/* Nav bar logos */

.main-logo {
  background-color: white;
  background-color: #0075be;
  height: 100px;
  width: 300px;
  object-fit: contain;
  align-self: center;
  margin-left: 30px;
}

.side-logo {
  align-self: center;
}

.mini-logo {
  width: 30px;
  margin-left: 20px;
  align-self: center;
}

/* Nav buttons */

.button-container {
  align-self: center;
  margin-right: 20px;
  display: flex;
  gap: 20px;
}

.nav-btn {
  background-color: hsl(48, 100%, 50%);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  transition: 0.4s background-color ease;
}

.nav-btn:hover {
  color: hsl(48, 100%, 50%);
  background-color: black;
  cursor: pointer;
}

/* Pokemon grid */

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  background-color: #f9fbff;
}

.switch-page-btn {
  background-color: #102a56;
  color: white;
  padding: 8px 12px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  transition: 0.4s background-color ease;
}

.switch-page-btn:hover {
  background-color: #153a75;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Pokemon card */

.pokemon-card-container {
  text-align: center;
  padding: 10px;
  height: 250px;
  font-size: 1.1rem;
  background-color: #102a56;
  border: 4px solid #1e4f7a;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.pokemon-card-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color: #153a75;
}

/* Pokemon card text */

.pokemon-card-img {
  width: 100px;
}

.pokemon-card-name {
  font-size: 1.8rem;
}

.pokemon-card-types {
  list-style: none;
}

.pokemon-card-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-wrapper {
  list-style: none;
  text-decoration: none;
  list-style: none;
}

.pokemon-card-link {
  list-style: none;
}

/* Current pokemon page */

.current-pokemon-container {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
  height: auto;
}

/* Current pokemon box */

.current-pokemon-box {
  border: 1px solid blue;
  text-align: center;
  padding: 30px;
  font-size: 1.1rem;
  background-color: #102a56;
  border: 4px solid #1e4f7a;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.current-pokemon-img {
  width: 100%;
}

.current-pokemon-name {
  padding: 10px;
}

/* Pokemon info boxes */

.pokemon-info-boxes {
  height: auto;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 10px;
}

.pokemon-info-box {
  padding: 10px;
  box-shadow: 5px 5px 10px;
}

.box-one {
  background-color: #0075be;
  color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.current-pokemon-txt {
  background-color: lightblue;
  padding: 8px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.box-two {
  background-color: green;
  color: lightgreen;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.current-pokemon-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.current-pokemon-type {
  background-color: lightgreen;
  font-weight: bold;
  padding: 8px;
  color: black;
  border-radius: 8px;
}

.box-three {
  background-color: red;
  color: coral;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 1 / 3;
  border-radius: 8px;
}

.current-pokemon-stats-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.current-pokemon-stats {
  background-color: coral;
  font-weight: bold;
  padding: 8px;
  color: black;
  border-radius: 8px;
}

/* Shiny pokemon container */

.shiny-pokemon-container {
  background-color: gray;
  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 4px solid yellow;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.shiny-pokemon-img {
  width: 100%;
}

.current-shiny-pokemon-name {
  padding: 10px;
}

/* Media query */

@media (575px <= width <= 920px) {
  .current-pokemon-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 10px;
  }

  .main-logo {
    width: 100%;
    margin-left: 0px;
    margin-right: 15px;
  }

  .button-container {
    flex-direction: column;
  }

  .mini-logo {
    margin-left: 0;
    margin-right: 15px;
  }
}
